.degree-builder {
  position: static;
  font-size: 3.5rem;
  font-weight: 400;
  width: fit-content;
  display: block;
  margin: auto;
}

.specialization-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

.specialization-card {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 25px auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #04396C;
  color: white;
  text-decoration: none;
  border-radius: 20%;
}
.specialization-card:hover{
  background-color: #035B96;
}


.specialization-name {
  margin: auto;
  text-align: center;
  font-size: 25px;
}

