main {
  padding-left: 28%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page_header {
  font-size: 3.5rem;
  font-weight: 500;
  position: relative;
  left: 4vw;
}
.course-selection {
}

.course {
  padding-left: 1.5rem;
}

/* Elective section styling */
.elective-section-title{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.elective-section-title:hover{
  display: flex;
  flex-direction: row;
  color:#035B96;
}
.search-elective-section{
  color: #035B96;
  font-size: 1.2rem;
  margin: 0.0rem;
}
.elective-section{
  margin: 0.0rem;
}

/* Elective search styling */
.elective-search {
  background-color: #031f4b;
  color: #fbfbfb;
  padding: 1rem 1rem 0 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 27%;

  display: flex;
  flex-direction: column;
}
.can-select{
  font-size: 1.1rem;
  margin: 0;
}
.cannot-select {
  color: lightgrey;
  font-style: italic;
  padding-left: 1.3rem;
  font-size: 1.1rem;
  margin: 0;
}
.search-course{
  display: flex;
  flex-direction: row;
  padding-bottom: 0.3rem;
}
textarea:focus, input:focus{
    outline: none;
}
.search-bar{
  padding-left: 0.8rem;
  height: 25px;
  margin-bottom: 1em;
  border-radius: 25px;
}